/.phpunit.cache
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
# Secrets & Configurations
.env
.env.*
!.env.example
appsettings.Production.json
appsettings.Development.json
*.key
*.pem

# Build & Archives
# Storage & Logs
/storage/framework/views/*
/storage/logs/*.log
database/*.sqlite
